<template>
  <section class="content">
    <div class="container-fluid">
        <div class="row">

          <div class="col-12">

            <div class="card">
              <div class="card-header">
                <h3 class="card-title">User Uploads</h3>

                <div class="card-tools">

                  <button type="button" class="btn btn-sm btn-primary" data-toggle="modal"  @click="newModal">
                      <i class="fa fa-plus-square"></i>
                      Add New
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>User</th>
                      <th>Credential</th>
                      <th>File</th>
                      <!-- <th>Photo</th> -->
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                     <tr v-for="item in uploads.data" :key="item.id">

                      <td>{{item.id}}</td>
                      <td>{{item.user.username}}</td>
                      <td>{{item.credential}}</td>
                      <td>{{item.filename}}</td>
                      <td>
                          <a href="#" @click="editModal(item)">
                              <i class="fa fa-edit blue"></i>
                          </a>
                          /
                          <a href="#" @click="deleteUpload(item.id)">
                              <i class="fa fa-trash red"></i>
                          </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
                <div class="card-footer">
                    <pagination :data="uploads" @pagination-change-page="getResults"></pagination>
                </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNew" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" v-show="!editmode">Add credential filename</h5>
                    <h5 class="modal-title" v-show="editmode">Update credential filename Info</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <form @submit.prevent="editmode ? updateFile() : createFile()" id="company-data" enctype="multipart/form-data">
                    <div class="modal-body">

                        <div class="form-group">
                            <label>User</label>
                            <select v-model="form.user_id"  name="user_id"
                                class="form-control" :class="{ 'is-invalid': user_id_error }">
                                <option value="">Select</option>
                                <option v-for="(ele, index) in allusers " :value="index">{{ ele }}</option>
                            </select>
                           <small class="error invalid-feedback" v-if="user_id_error">{{ user_id_error }}</small>
                        </div>
                        <div class="form-group">
                            <label>Credential</label>
                            <select v-model="form.credential"  name="credential"
                                class="form-control" :class="{ 'is-invalid': credential_error }">
                                <option value="">Select</option>
                                <option value="Credential1">Credential 1</option>
                                <option value="Credential2">Credential 2</option>
                            </select>
                            <small class="error invalid-feedback" v-if="credential_error">{{ credential_error }}</small>
                        </div>
                        <div class="form-group row">
                            <label>File</label>
                            <span class="col-md-5" v-if="form.filename">
                                <img :src="filename_url" class="img-responsive" height="100" width="100" alt="">
                            </span>
                            <span class="col-md-6">
                                <input type="file" name="filename"  class="form-control" @change="onFileChange" :class="{ 'is-invalid': filename_error}">
                            <small class="error invalid-feedback" v-if="filename_error">{{ filename_error }}</small>
                            </span>


                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                  </form>
                </div>
            </div>
        </div>
    </div>
  </section>
</template>

<script>
    export default {
        data () {
            return {
              uploads : {},
                editmode: false,
                filename_url : '',
                allusers: {},
                user_id_error: false,
                filename_error: false,
                credential_error: false,
              // Create a new form instance
              form: new Form({
                  id : '',
                  user_id: '',
                  credential: '',
                  filename: '',
              })
            }
        },
        methods: {
            getResults(page = 1) {

                this.$Progress.start();

                axios.get('api/upload?page=' + page).then(({ data }) => (this.uploads = data.data));

                this.$Progress.finish();
            },
            loadUploads() {
                // if(this.$gate.isAdmin()){
                axios.get("api/upload").then(({ data }) => (this.uploads = data.data));
                // }
            },
            loadUsers() {
                    axios.get("api/users").then(({ data }) => (this.allusers = data.data));
           },

        onFileChange(e) {
            let files = e.target.files || e.dataTransfer.files;
            if (!files.length)
                return;
            this.form.filename  = files[0];
            this.filename_url = URL.createObjectURL(this.form.filename);

        },

          createFile(e){
              this.$Progress.start();

              let form_data = new FormData();
              for (let item in this.form){
                  form_data.append(item, this.form[item]);
              }
              console.log(this.form.filename);
              axios.post('api/upload' , form_data)
              .then((data)=>{
                  $('#addNew').modal('hide');

                  Toast.fire({
                        icon: 'success',
                        title: data.data.message
                    });
                  this.$Progress.finish();
                  this.loadUploads();

              })
                  .catch(e => {
                      this.user_id_error = e.response.data.errors.user_id ? e.response.data.errors.user_id : false;
                      this.filename_error = e.response.data.errors.filename ? e.response.data.errors.filename : false;
                      this.credential_error = e.response.data.errors.credential ? e.response.data.errors.credential : false;

                      this.$Progress.fail();
                  });
          },
            updateFile(){
                this.$Progress.start();
                const config = {
                    headers: {
                        'content-type': 'multipart/form-data'
                    }
                }

                let form_data = new FormData();
                for (let item in this.form){
                    form_data.append(item, this.form[item]);
                }
                form_data.append('_method', 'PUT');

                axios.post(`api/upload/${this.form.id}` , form_data, config )
                    .then((response) => {
                         // success
                        $('#addNew').modal('hide');
                        Toast.fire({
                            icon: 'success',
                            title: response.data.message
                        });
                        this.$Progress.finish();

                        this.loadUploads();
                    })
                    .catch(e => {
                        this.user_id_error = e.response.data.errors.user_id ? e.response.data.errors.user_id : false;
                        this.filename_error = e.response.data.errors.filename ? e.response.data.errors.filename : false;
                        this.credential_error = e.response.data.errors.credential ? e.response.data.errors.credential : false;

                        this.$Progress.fail();
                    });

            },
            editModal(upload){
                this.editmode = true;
                this.filename_url = upload.filename;
                user_id_error: false;
                filename_error: false;
                credential_error: false;
                this.form.reset();
                $('#addNew').modal('show');
                this.form.fill(upload);
            },
            newModal(){
                this.editmode = false;
                user_id_error: false;
                filename_error: false;
                credential_error: false;
                this.form.reset();
                $('#addNew').modal('show');
            },
            deleteUpload(id){
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#3085d6',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {

                    // Send request to the server
                    if (result.value) {
                        this.form.delete('api/upload/'+id).then(()=>{
                            Swal.fire(
                                'Deleted!',
                                'File has been deleted.',
                                'success'
                            );
                            // Fire.$emit('AfterCreate');
                            this.loadUploads();
                        }).catch((data)=> {
                            Swal.fire("Failed!", data.message, "warning");
                        });
                    }
                })
            },

        },
        mounted() {

        },
        created() {
            this.$Progress.start();

            this.loadUploads();

            this.loadUsers();

            this.$Progress.finish();
        }
    }
</script>
